* {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
     --navBackground: #34495E;
     --formColor: #34495E;
 }

 body html {
     margin: 0;
     background: #222;
     font-family: 'Work Sans', sans-serif;
     font-weight: 400;
 }
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.container1 {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--navBackground);
}

h1 {
    text-align: center;
    color: whitesmoke;
}

.logout {
  display: none;
}

.header {
  display: flex;
  background: var(--navBackground);
  width: 100%;
}

.logindata {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[name="login"]{
  background-color: #34495E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-appearance: none;
}
.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: var(--formColor);
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px opx rgb(0, 0, 0, 0.3);
  }
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background: var(--navBackground);
  position: fixed;
  height: 100%;
  overflow: auto;
}

#menu-box {
  display: none;
}

li {
  margin: 20px 0;
}

ul.sidenav li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.menu {
  background: var(--navBackground);
  color: whitesmoke;
}

ul.sidenav li a:hover:not(.active) {
  background: var(--navBackground);
  color: whitesmoke;
}
.box {
  flex:1;
}

div.content {
  display: flex;
  text-align: center;
  margin-left: 0;
  padding: 1px 16px;
  height: 200px;
  flex-wrap: wrap;
}

.container {
  display: inline-block;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: var(--navBackground);
  position: sticky;
  height: 40px;
  flex: 1;
  width: 100%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*----------- begin media------------- */



@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {
    position: center;
    background-color: #E5EF3F;
  }

}

@media screen and (max-width: 500px) {
  ul.sidenav li a {
    text-align: center;
    width: 100%;
  }
  .wrapper {
    width: 100%;
    display: flex;
  }
  .container1 {
    flex-grow: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--navBackground);
  }
  .box {
    flex:1;
    padding: 20px;
  }
  .container {
    width: 100%;
  }
  div.content {
    position: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}


