@import url('https://fonts.googleapis.com/css?family=Raleway');




:root {
      -webkit-appearance: none;
     --navBackground: rgb(57, 66, 80);
     --formColor: rgb(55, 57, 59);
     --modalColor: #34495E;
     --contentColor: rgb(41, 44, 53);
 }

.fa-trash {
  color: black;
  font-size:25px;
}

#trashButton {
  width: 150px;
  height: 50px;}

.approve {
  background: green;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd){
  background: #eee;
}

th {
  font-family: 'Raleway', sans-serif;
  background: #333;
  color: white;
  font-weight: bold;
}




.search {
  font-family: 'Raleway', sans-serif;
  background: var(--contentColor);
  width: 100%;
  text-align: center;
}

.suggestions {
  display: inline-block;

}

div.search input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
}

td, th {
  font-family: 'Raleway', sans-serif;
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

 body html {
     margin: 0;
     font-family: 'Raleway', sans-serif;
     font-weight: 400;
     height: 1000px;

 }
h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.notification {
  display: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  opacity: .7;
  text-align: center;
  position: absolute;
  background: red;
  color: black;
  font: bold;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}

.wrapper {
  width: 100%;
  
}


#user {
  justify-content: flex-end;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(255,255,255);
}

select {
  font-family: 'Raleway', sans-serif;
}

.header {
  display:flex;
  justify-content: space-between;
  background: var(--navBackground);
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
}

.libraryList {
  z-index: 1;
}

.usrin {
  display: none;
}

.logindata {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.contentimg {
  flex: 1;
  margin-top: 2em;
  width:150px;
  height:200px;

}

.admin {
  display: none;
}


.bookinfoimg {
  width:150px;
  height:200px;
}

input[name="login"]{
  background-color: var(--navBackground);
  font-family: 'Raleway', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-appearance: none;
}
.loginform input[type=submit] {
    font-family: 'Raleway', sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: var(--formColor);
    color: white;
    padding: 5px 15px;
    margin-right: 0;
    margin-top: 15px;
    border-radius: 3px;
    text-shadow: 1px 1px opx rgb(0, 0, 0, 0.3);
  }

.profileImage {
  font-size: 40px;
  background: none;
  cursor: pointer;
}

ul.sidenav {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background: var(--navBackground);
  overflow: auto;
  opacity: .7;
}

a {
  color: white !important;
}

.errorMessage {
  color: red;
  background: grey;
  float: Center;
}

#menu-box {
  display: none;

}

li {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin: 20px 0;
  list-style: none;
  cursor: pointer;
}

ul.sidenav li a {
  padding: 8px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.menu {
  background: var(--navBackground);
  position: sticky;
  opacity: .7;
}

ul.sidenav li a:hover:not(.active) {
  background: var(--navBackground);
  color: red;
}
[class*='Contentrow'] {
  flex: 1;
  flex-flow: wrap;
  display: flex;

}
[class*='box'] {
  flex: 1;
  margin: 2px;
  flex-wrap: wrap;
  color:white;
}

/* Full-width input fields */

div.modal [type=text], div.modal input[type=password] {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.uploadImg {
  width: 75px; 
  height: 100px;
}
#whtbutton {
  color:white;
}
#renewBook {
  width: 150px;
  height: 50px;
  color:white;
}
/* Set a style for all buttons */
button {
  width: 150px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  background-color: var(--modalColor);
  color: white;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#checkOutBook {
  width: 150px;
  height: 50px;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 100px;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  padding: 10px 18px;
  background-color: #f44336;
}
.modalContainer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  font-family: 'Raleway', sans-serif;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#headline {
  flex:2;
}


/* The Close Button (x) */
.close {
  position: fixed;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */

div.content {
  background: url('/cse201/img/book_shelves.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  margin-left: 0;
  padding: 1px 16px;
  height: auto;
}

.barContainer {
  display: inline-block;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: var(--navBackground);
  position: sticky;
  height: 40px;
  width: auto;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*----------- begin media------------- */



@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  div.content {
    position: center;
  }

}

@media screen and (max-width: 760px) {

  tr{ border: 1px solid #ccc;}

  .contentimg {
    width:125px;
    height:150px
  }

  .bookinfoimg {
    width:125px;
    height:150px
  }
}

@media screen and (max-width: 500px) {
  ul.sidenav li a {
    text-align: center;
  }

  .contentimg {
    width:100px;
    height:125px
  }

  .bookinfoimg {
    width:100px;
    height:125px
  }


}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
 }
 .cancelbtn {
    width: 100%;
 }
  ul.sidenav li a {
    text-align: center;
  }
 
}


#searchButton {
  background: none;
  color:white;
}

.remove {
  background: red;
}

.trashButton {
  background: none;
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #e9e9e9;  
}